//Variable valuse changed as per dark theme
 @import '../variable';
// Theme Color Dark
body[data-theme="dark"] {
    
    $bodycolor: #383f48;
    $card-brd: #3e4e56;
    $sidebar-alt: #f2f6f8;
    $sidebar: #272c33;
    $sidebar-text: #798699;
    $sidebar-icons: #798699;
    $light: #383f48;  
    $input-border-color: rgba(120,130,140,.13);
    /*Theme Colors*/
    
    .card{
        background:$dark;
        border-color:$card-brd;
    }

    /*Card-noborders*/
    &.card-no-border{
        .card{
            border-color:$card-brd;
            box-shadow: 0px 5px 20px rgba(0,0,0,0.05);
        }
        .sidebar-footer{
            background:$sidebar-alt;
        }
    }
    &.card-no-border .shadow-none{
        box-shadow: none;
    }
    .card-outline-danger, .card-outline-info, .card-outline-warning, .card-outline-success, .card-outline-primary{
        background: $white;
    }

    .left-sidebar, .sidebar-nav{
        background: $sidebar;
    }

    .sidebar-nav ul li a.active{
        color: $white;
    }

    &.card-no-border .sidebar-footer{
        background: $dark;
    }

    .page-titles {
        background: $dark;
    }

    .page-wrapper {
        background: $bodycolor;
    }

	.chat-main-box .chat-left-aside .chat-left-inner .style-none li a.active, 
	.chat-main-box .chat-left-aside .chat-left-inner .style-none li a:hover,
	.message-box .message-widget a:hover,
	.table-hover tbody tr:hover,
	.inbox-panel .list-group .list-group-item.active, 
	.inbox-panel .list-group .list-group-item:hover,
	.popover-header,
	.feeds li:hover {
		background: $light;
	}
	
	.icon-list-demo .col-3:hover, .icon-list-demo .col-md-4:hover {
		background-color: $light;
	}
	
    .mailbox {
        .message-center {
            a {
                &:hover {
                    background: $bodycolor;
                }
                .mail-contnet {
                    .mail-desc,
                    .time {
                        color: $body-color;
                    }
                }
            }
        }
    }

    .form-control, .btn-secondary:hover, .form-control:focus, .btn-secondary.active, .card-outline-danger, .card-outline-info, .card-outline-warning, .card-outline-success, .card-outline-primary, .popover-title, .select2-container--default .select2-selection--single, .select2-container--default .select2-selection--multiple, .bootstrap-tagsinput,  .footable .pagination li a, .select2-container--default .select2-selection--single .select2-selection__rendered, .ms-container .ms-selectable li.ms-elem-selectable, .ms-container .ms-selection li.ms-elem-selection, .jsgrid-row>.jsgrid-cell, .page-item .page-link, .page-item.disabled .page-link, .minimal-faq .card .card-header, .mega-dropdown .nav-accordion .card-header{
        background-color:$dark;
    }

    .right-sidebar, .select2-dropdown, .dropify-wrapper, .dropify-wrapper .dropify-preview, .wizard-content .wizard>.steps>ul>li.current .step, .wizard-content .wizard>.steps>ul>li .step, .wizard-content .wizard.wizard-circle>.steps>ul>li.current:after, .wizard-content .wizard.wizard-circle>.steps>ul>li.current~li:after, .wizard-content .wizard.wizard-circle>.steps>ul>li.current~li:before, .note-editor.note-frame .note-editing-area .note-editable, .modal-content, .jsgrid-alt-row>.jsgrid-cell, .css-bar:after{
        background: $light;
    }
    .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6, .footable .pagination li a, .select2-container--default .select2-selection--single .select2-selection__rendered, .ms-container .ms-selectable li.ms-elem-selectable, .ms-container .ms-selection li.ms-elem-selection, .close, .page-item .page-link{
        color:$white;
    }

    .fileinput .input-group-addon {
        border: none;
        border-bottom: 1px solid $input-border-color;
        background: transparent;
        margin-bottom: 1px;
        color: $body-color;
    }
    /*******************
    Border Colors
    *******************/
    .table td, .nav-tabs, hr, .form-control, ul.wysihtml5-toolbar, .tabcontent-border, .select2-container--default .select2-selection--single, .select2-container--default .select2-selection--multiple, .select2-container--default .select2-selection--multiple .select2-selection__choice, .bootstrap-tagsinput, .ms-container .ms-selectable li.ms-elem-selectable, .ms-container .ms-selection li.ms-elem-selection, .ms-container .ms-list, .wizard-content .wizard.wizard-circle>.steps .step, .table-bordered, .modal-footer, .modal-header, .jsgrid-header-row>.jsgrid-header-cell, .jsgrid-edit-row>.jsgrid-cell, .jsgrid-filter-row>.jsgrid-cell, .jsgrid-grid-body, .jsgrid-grid-header, .jsgrid-header-row>.jsgrid-header-cell, .jsgrid-insert-row>.jsgrid-cell, .bootstrap-table .table>thead>tr>th, .bootstrap-table .table, .fixed-table-container, .page-item .page-link, .page-item.disabled .page-link, .featured-plan .pricing-body, .footable .pagination li a, .footable .pagination li.disabled a, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled,.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover , .dataTables_wrapper .dataTables_paginate .paginate_button {
        border-color:$border-color;
    }
    /*******************
    /*Background Colors light*/
    /*******************/
    .progress, .fc-day, .css-bar > i, .dropzone, code, .popover, .grid-stack-item-content, .form-control:disabled, .form-control[readonly], .select2-container--default .select2-selection--multiple .select2-selection__choice, .ms-container .ms-selectable, .ms-container .ms-selection, .wizard-content .wizard>.actions>ul>li>a[href="#previous"], .jsgrid-grid-header, .jsgrid-filter-row>.jsgrid-cell, .dropdown-menu, .mega-dropdown .dropdown-menu{
        background-color: $light;
    }
    .grid-stack-item-content, .input-group-addon, .wizard-content .wizard>.steps>ul>li.current>a, .mailbox ul li .drop-title, .topbar .navbar-light .navbar-nav .nav-link{
        color:$white;
    }
    /*******************
    /*Background Colors border*/
    /*******************/
    .fc th.fc-mon, .fc th.fc-wed, .fc th.fc-fri, .fc th.fc-sun, .fc th.fc-tue, .fc th.fc-thu, .fc th.fc-sat{
        background: $border-color;
    }
    /*******************
    /*Background Colors dark*/
    /*******************/
    .topbar .top-navbar .app-search .srh-btn{
        background: none;
    }
    .btn-secondary, .glyphs.character-mapping input{
        background: $light;
        border-color: $input-border-color;
        color:$body-color;
        &:hover, &.active{
            color:$body-color;
            border-color: $input-border-color;
        }
    }
    .custom-select{
       border-color: $input-border-color;
    }
    .checkbox label::after, .glyphs.character-mapping li, .breadcrumb-item.active, .dropdown-menu, .table{
        color:$body-color;
    }
    .card-header, .card-footer, .jsgrid-header-row>.jsgrid-header-cell, .featured-plan .pricing-body{
        background-color:#1a1f27;
    }
    .vtabs .tabs-vertical li .nav-link{
        color:$body-color;
    }
    .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active, .nav-tabs .nav-link:hover{
        background-color:$dark;
        border-color:$border-color $border-color $dark;
        color:#fff;
    }

    .form-material .form-control, .form-material .form-control.focus, .form-material .form-control:focus {
        background-image: linear-gradient($themecolor, $themecolor), linear-gradient($input-border-color, $input-border-color);
    }

    /*******************
    /*Background Colors Transparent*/
    /*******************/
    .list-group-item, .checkbox label::before, .footer, .btn-outline-primary, .customvtab .tabs-vertical li .nav-link.active, .customvtab .tabs-vertical li .nav-link:hover, .customvtab .tabs-vertical li .nav-link:focus, .bd-example-popover-static, .myadmin-dd .dd-list .dd-item .dd-handle , .myadmin-dd-empty .dd-list .dd3-content, .myadmin-dd-empty .dd-list .dd3-handle, .highlight, .custom-file-control{
        background: transparent;
    }
    .tabs-vertical li .nav-link.active, .tabs-vertical li .nav-link:hover, .tabs-vertical li .nav-link.active:focus, .dd-item > button{
        color:$white;
    }
    /*******************
    /*Border Colors Transparent*/
    /*******************/
    .comment-widgets .comment-row, .stylish-table tbody tr{
        border-left-color:transparent;
    }
    .calendar-events, .popover-title{
        border-color:transparent;
    }
    .popover.bs-tether-element-attached-bottom::after, .popover.popover-top::after{
        border-top-color:$light;
    }
    .popover.bs-tether-element-attached-top::after, .popover.popover-bottom::after{
        border-bottom-color:$light;
        top:-9px;
    }
    .popover.bs-tether-element-attached-left::after, .popover.popover-right::after{
        border-right-color:$light;
    }
    .popover.bs-tether-element-attached-right::after, .popover.popover-left::after{
        border-left-color:$light;
    }
    .bootstrap-switch .bootstrap-switch-label{
        background: $dark;

    }
    .bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-default, .bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-default, .list-group-item, .pagination>li>a, .pagination>li>span{
        color: $body-color;
    }
    .list-group-item, .custom-file-control{
        border-color:$border-color;
    }

    table.footable, table.footable-details {
        border: 1px solid $input-border-color !important;
    }
    a.list-group-item:hover{
        color:$white;
    }
    .bootstrap-switch{
        border-color:$border-color;
    }
    .dp-off{
        background-color: $dark!important;
    }
    /*******************
    /*Dashboard 1*/
    /*******************/
    .total-revenue4{
        .ct-series-a .ct-line, .ct-series-b .ct-line{
            stroke-width:2px;
        }
    }
    .ct-label, .ct-grid{
        fill:rgba(255, 255, 255, 0.3);
        stroke:rgba(255, 255, 255, 0.3);
        color:rgba(255, 255, 255, 0.3);
    }
    .irs-line{
        opacity: 0.1;
    }
    .mega-dropdown .dropdown-menu{
        background-image:none;
    }

    .input-group-text {
        background: $light;
        color: $body-color;
        border: 1px solid $border-color;
    }

    .custom-control-label::before {
        background-color: $light;
    }

    table.footable-details {
        background: $dark;
        border: 0 !important;
    }
}
