body[data-theme="horizontal"] {
  // For all Pages
  #main-wrapper {
    width: 100%;
  }

  .boxed #main-wrapper {
      width: 100%;
      max-width: 1300px;
      margin: 0 auto;
      box-shadow: 0 0 60px rgba(0, 0, 0, 0.1);
      .sidebar-footer {
        position: absolute;
      }
      .footer {
        display: none;
      }
  }

  .page-wrapper {
      background: $body-bg; 
      padding-bottom: 60px;
      padding-top: 60px;
      margin-left: 0;
  }

  .container-fluid {
    padding-right: 15px;
	padding-left: 15px;
  }

  // For sidebar
  /*******************
  Main sidebar
  ******************/

  .left-sidebar {
      position: fixed;
      width: 100%;
      height: auto;
      top: 0px;
      z-index: 20;
      padding:70px 15px 0px;
      box-shadow: $sidebar-shadow;
  }

  .fix-sidebar .left-sidebar {
      position: fixed;
  }

  /*******************
   Topbar
  *******************/

  .topbar {
    position: relative;
    z-index: 50;
    box-shadow: $topbar-box-shadow;
    .top-navbar {
      max-width: 1280px;
      margin: 0 auto;
    }
  }

  /*******************
  sidebar navigation
  ******************/

  .scroll-sidebar {
      margin: 0 auto;
      max-width: 1280px;
  }

  	.sidebar-nav {
      	padding: 0px;
      	ul {
          	margin: 0px;
          	padding: 0px;
          	li {
              	margin-bottom: 0;
              	a {
                 	padding: 8px 13px;
                  	display: block;
                  	font-size: 15px;
                  	white-space: nowrap;
              	}
				&.active {
					.hide-menu{
						font-weight: 300;
					}
				}
              	ul {
                  	padding: 15px;
                  	li{
						a {
	                      	padding: 10px 35px 10px 15px;
	                  	}
						&.active {
							a{
								font-weight: 400;
							}
						}
					} 
                  	ul {
                      	padding: 0px 0 0 15px;
                  	}
              	}
              	&.nav-small-cap,
              	&.nav-devider {
                  	display: none
              	}
          	}
      	}
      	> ul > li {
          	padding: 6px 0px;
      	}
      	> ul > li > a {
          	border-radius: $card-border-radius;
          	i {
              	width: 27px;
              	font-size: 21px;
              	display: inline-block;
              	vertical-align: middle;
          	}
          	.label {
             	float: right;
             	margin-top: 6px;
          	}
      	}
  	}

  /*******************
   Breadcrumb and page title
  *******************/

  .page-titles {
      background: transparent;
      box-shadow: none;
      padding: $horizontal-pagetitles-padding;
      margin: $horizontal-pagetitles-margin;
      .breadcrumb {
          background: transparent;
      }
  }

}

@media(min-width:1100px) {
  body[data-theme="horizontal"] {
    .container-fluid {
        max-width: 1280px;
        padding: 0 15px;
    }
  }
}

@media(max-width:1024px) and (min-width:700px){
  body[data-theme="horizontal"] {
    .sidebar-nav ul li a i{
        display: none;
    }
  }
}

@media(min-width:768px) {
  body[data-theme="horizontal"] {
    .logo-center {
      .top-navbar {
        .navbar-header {
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          margin: 0 auto;
        }
      }
    }

    .mini-sidebar {
        .page-wrapper{
            margin-left:0px;
        }
        .footer{
            left: $mini-sidebar-width;
        }
    }
    .flex-wrap{
        flex-wrap:nowrap!important;
        -webkit-flex-wrap:nowrap!important;
    }

    .sidebar-nav > ul > li {
        display: inline-block;
    }
    .sidebar-nav > ul > li:last-child ul {
        right: 0px;
    }
    .sidebar-nav #sidebarnav li.two-column > ul {
        width: $horizontal-two-column-ul-width;
        li {
            width: $horizontal-two-column-li-width;
            vertical-align: top;
            display: inline-block;
        }
    }
    .sidebar-nav #sidebarnav li.three-column > ul {
        width: $horizontal-three-column-ul-width;
        li {
            width: $horizontal-three-column-li-width;
            vertical-align: top;
            display: inline-block;
        }
    }

    .sidebar-nav #sidebarnav > li > a.has-arrow:after {
        display: none;
    }
    /****************
    When click on sidebar toggler and also for tablet
    *****************/

    .sidebar-nav #sidebarnav li {
        position: relative;
    }

    .sidebar-nav #sidebarnav > li > ul {
        position: absolute;
        z-index: 1001;
        width: $horizontal-second-ul-width;
        background: $white;
        display: none;
        box-shadow: $horizontal-ul-shadow;
    }

    .sidebar-nav #sidebarnav > li:hover > ul {
        height: auto !important;
        overflow: auto;
    }

    .sidebar-nav #sidebarnav > li:hover > ul,
    .sidebar-nav #sidebarnav > li:hover > ul.collapse {
        display: block;
        max-height: 400px;
    }
  }
}



@media(max-width:767px) {
  body[data-theme="horizontal"] {
    .container-fluid{
      padding:0 15px;
    }
    .topbar {
      position: fixed;
      width: 100%;
      .top-navbar {
        padding-left: 10px;
      }
    }
    .sidebar-nav {
      padding: $sidebar-padding-xy;
    }
    &.mini-sidebar {
      .page-wrapper {
        padding-top: $topbar-height;   
      }
      .left-sidebar {
        position: fixed;
        display: none;
        height: 100%;
        overflow: auto;
      }
      &.show-sidebar {
        .left-sidebar,
        .sidebar-footer {
            display: block;
        }
      }
      .sidebar-nav #sidebarnav > li > ul {
        padding: $horizontal-second-ul-padding;
        li a{
            padding: $horizontal-second-li-padding;
        }
      }
    }
  }
}


@media (min-width: 1024px) {
	body[data-theme="horizontal"] {
		.footer {
			left: 0;
			text-align: center;
		}
	}
}
